* {box-sizing:border-box}

body {
  background-color: black;
  font-family: 'Righteous', cursive;
}

h3 {
  color: black;
  margin: auto;
  margin-bottom: 15px;
}

th {
  background-color: darkblue;
  color: white
}

.jumbotron {
  margin-top: 55px;
  height: 450px;
  background-color: black;
  background-image: url('../images/jumbotron-train2.jpg');
  background-size: 100% 100%;
}

.inputry1, .inputry2, .inputry3, .inputry4 {
  color: gray;
  background-color: white;
  height: 35px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  float: left;
}

#makeEntry {
  background-color: limegreen;
  color: white;
  height: 35px;
  width: 150px;
  margin-top: 50px;
  margin-left: 33%;
  margin-right: 25px;
  float: left;
}

#abortAbort {
  background-color: darkred;
  color: white;
  height: 35px;
  width: 150px;
  margin-top: 50px;
  float: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#clickMe {
  margin-left: 38%;
  margin-top: 25px;
  z-index: 1;
  color: white;

}

#trainTable {
  background-color: white;
}

/*This controls the navbar - it is not important*/
.navbar-default {
  background-image: url('');
  border-bottom-color: teal;
  border-bottom-width: 2px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  font-family: 'Righteous', cursive;
}

.navbar-brand {
  background-color: transparent;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.navbar {
  background-color: black;
  border-style: solid;
  border-color: hotpink;
}

footer {
  width: 100%;
  color: teal;
  background-color: black;
  padding-top: 15px;
  height: 55px;
  border-top-color: teal;
  border-top-width: 5px;
  text-align: center;
  border-top-style: solid;
  bottom: 0px;
  position: fixed;
  font-family: 'Righteous', cursive;
}

@media screen and (max-width: 840px) {

  #makeEntry {
  margin-left: 27%;
}

#clickMe {
  margin-left: 33%;
}

}

@media screen and (max-width: 640px) {

  #makeEntry {
  margin-left: 18%;
}

#clickMe {
  margin-left: 28%;
}

}

@media screen and (max-width: 520px) {

  h3 {
    font-size: 20px;
  }

  #makeEntry {
  margin-left: 5px;
  margin-right: 45px;
  width: 125px;
  font-size: 10px;
}

#abortAbort {
  width: 125px;
  font-size: 10px;
}

.inputry1, .inputry2, .inputry3, .inputry4 {
  height: 20px;
  font-size: 15px;
}

#clickMe {
  margin-left: 13%;
  margin-top: 150px;
}

}