* {box-sizing:border-box}

body {
  background-color: black;
  font-family: 'Righteous', cursive;
}

h3 {
  color: white;
  margin: auto;
  margin-bottom: 15px;
}

.jumbotron {
  background-color: black;
}

.inputry1 {
  color: gray;
  background-color: white;
  border-color: limegreen;
  height: 35px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  float: left;
}

.inputry2 {
  color: gray;
  background-color: white;
  border-color: limegreen;
  height: 35px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  float: left;
}

.inputry3 {
  color: gray;
  background-color: white;
  border-color: limegreen;
  height: 35px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  float: left;
}

.inputry4 {
  color: gray;
  background-color: white;
  border-color: limegreen;
  height: 35px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 100%;
  float: left;
}

#makeEntry {
  background-color: limegreen;
  color: white;
  height: 35px;
  width: 150px;
  margin-top: 50px;
  margin-left: 12%;
  margin-right: 30%;
  float: left;
}

#abortAbort {
  background-color: darkred;
  color: white;
  height: 35px;
  width: 150px;
  margin-top: 50px;
  float: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: darkblue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#clickMe {
  margin-left: 32%;
  z-index: 1;
  position: fixed;
  margin-top: -75px;
  color: white;
}